body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #485268;
  background-color: #E5E5E5;;
}

strong {
  font-weight: 500px;
}

.page {
  width: 595px;
  margin: 0 auto;
}

.main {
  padding: 0 40px;
  background-color: white;
}
/* #region info */
.info {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid #DEE2ED;
  padding: 24px 0;
}

.info__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #E25544;
}

.info__content {
  width: 360px;
}
/* #endregion */

/* #region contacts */
.contacts {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.contacts__link {
  color: #485268;
  text-decoration: none;
}
/* #endregion */

/* #region about */

.about {
  display: flex;
  padding: 32px 40px 24px 40px;
  background-color: #E25544;
  color: white;
}

.about__name {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.about__role {
  margin: 0 0 8px 0;
  font-size: 12px;
  line-height: 15px;
}

.about__text {
  margin: 0;
}

.about_img {
  height: 114px;
  width: 114px;
  border-radius: 50%;
  margin-left: 50px;
}
/* #endregion */

/* #region job */
.job {
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
}

.job__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  margin-top: 24px;
}

.job__title:first-child {
  margin-top: 0;
}

.job__description {
  margin: 0;
  margin-top: 8px;
}
/* #endregion */

/* #region study */
.study {
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
}

.study__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  margin-top: 24px;
}

.study__title:first-child {
  margin-top: 0;
}

.study__description {
  margin: 0;
  margin-top: 8px;
}
/* #endregion */

/* #region skills */
.skills {
  display: flex;
}

.skills__list {
  box-sizing: border-box;
  margin: 0;
  width: 50%;
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
  list-style: none;
}

.skills__item {
  margin-top: 8px;
}

.skills__item:first-child {
  margin-top: 0;
}
/* #endregion */

/* #region tools */
.tools {
  display: flex;
}

.tools__list {
  box-sizing: border-box;
  margin: 0;
  width: 50%;
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
  list-style: none;
}

.tools__item {
  margin-top: 8px;
}

.tools__item:first-child {
  margin-top: 0;
}
/* #endregion */
